*{
}

form{
    font-size: 20px;
    text-align: center;
    color: white;
}


#fileToUpload{
    font-size: 30px;
    margin: 20px;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#text{
    font-size: 20px;
}

#submit-btn{
    border: 0;
    font: 1.5em sans-serif;
    color: black;
    padding: 10px 25px;
    border-radius: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#submit-btn:hover{
    cursor: pointer;
}

.image-preview-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 20px;
}

.image-preview-container img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}

h1{
    text-align: center;
    font: 2em Verdana;
    padding: 18px;
}